<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Margo</key>
	<dict>
		<key>rhandx</key>
		<integer>-30</integer>
		<key>rhandy</key>
		<integer>90</integer>
		<key>class</key>
		<string>MargoHero</string>
		<key>warmode</key>
		<true/>
		<key>base</key>
		<string>MargoBaseSkin</string>
		<key>body</key>
		<string>MargoBodySkin</string>
		<key>ill</key>
		<string>MargoIllSkin</string>
		<key>lhandx</key>
		<integer>-5</integer>
		<key>lhandy</key>
		<integer>60</integer>
		<key>rhand</key>
		<string></string>
		<key>lhand</key>
		<string>MargoLeftHandSkin</string>
		<key>lost</key>
		<string>MargoLostSkin</string>
		<key>idle</key>
		<string>MargoIdleSkin</string>
		<key>mouth</key>
		<string>MargoMouthSkin</string>
		<key>shape</key>
		<string>MargoShape</string>
	</dict>
	<key>Denny</key>
	<dict>
		<key>rhandx</key>
		<integer>-30</integer>
		<key>rhandy</key>
		<integer>90</integer>
		<key>class</key>
		<string>KarlHero</string>
		<key>warmode</key>
		<true/>
		<key>base</key>
		<string>DennyBaseSkin</string>
		<key>body</key>
		<string>DennyBodySkin</string>
		<key>ill</key>
		<string>DennyIllSkin</string>
		<key>lhandx</key>
		<integer>-15</integer>
		<key>lhandy</key>
		<integer>60</integer>
		<key>rhand</key>
		<string></string>
		<key>lhand</key>
		<string>DennyLeftHandSkin</string>
		<key>lost</key>
		<string>DennyLostSkin</string>
		<key>idle</key>
		<string>DennyIdleSkin</string>
		<key>mouth</key>
		<string>DennyMouthSkin</string>
		<key>shape</key>
		<string>DennyShape</string>
	</dict>
	<key>Karl</key>
	<dict>
		<key>rhandx</key>
		<integer>-30</integer>
		<key>rhandy</key>
		<integer>90</integer>
		<key>class</key>
		<string>KarlHero</string>
		<key>warmode</key>
		<true/>
		<key>base</key>
		<string>KarlBaseSkin</string>
		<key>body</key>
		<string>KarlBodySkin</string>
		<key>ill</key>
		<string>KarlIllSkin</string>
		<key>lhandx</key>
		<integer>-5</integer>
		<key>lhandy</key>
		<integer>60</integer>
		<key>rhand</key>
		<string></string>
		<key>lhand</key>
		<string>KarlLeftHandSkin</string>
		<key>lost</key>
		<string>KarlLostSkin</string>
		<key>idle</key>
		<string>KarlIdleSkin</string>
		<key>mouth</key>
		<string>KarlMouthSkin</string>
		<key>shape</key>
		<string>KarlShape</string>
	</dict>
	<key>Munik</key>
	<dict>
		<key>rhandx</key>
		<integer>0</integer>
		<key>rhandy</key>
		<integer>0</integer>
		<key>class</key>
		<string>MunikHero</string>
		<key>warmode</key>
		<true/>
		<key>base</key>
		<string>MunikBaseSkin</string>
		<key>body</key>
		<string>MunikBodySkin</string>
		<key>ill</key>
		<string>MunikIllSkin</string>
		<key>lhandx</key>
		<integer>-5</integer>
		<key>lhandy</key>
		<integer>64</integer>
		<key>rhand</key>
		<string></string>
		<key>lhand</key>
		<string>MunikLeftHandSkin</string>
		<key>lost</key>
		<string>MunikLostSkin</string>
		<key>idle</key>
		<string>MunikIdleSkin</string>
		<key>mouth</key>
		<string>MunikMouthSkin</string>
		<key>shape</key>
		<string>MunikShape</string>
	</dict>
	<key>Dandy</key>
	<dict>
		<key>rhandx</key>
		<integer>-30</integer>
		<key>rhandy</key>
		<integer>90</integer>
		<key>class</key>
		<string>WarHero</string>
		<key>warmode</key>
		<true/>
		<key>base</key>
		<string>DandyBaseSkin</string>
		<key>body</key>
		<string>DandyBodySkin</string>
		<key>ill</key>
		<string>DandyIllSkin</string>
		<key>lhandx</key>
		<integer>-30</integer>
		<key>lhandy</key>
		<integer>90</integer>
		<key>rhand</key>
		<string>DandyRightHandSkin</string>
		<key>lhand</key>
		<string>DandyLeftHandSkin</string>
		<key>lost</key>
		<string>DandyLostSkin</string>
		<key>idle</key>
		<string>DandyIdleSkin</string>
		<key>mouth</key>
		<string>DandyMouthSkin</string>
		<key>shape</key>
		<string>DandyShape</string>
	</dict>
	<key>Luk</key>
	<dict>
		<key>rhandx</key>
		<integer>-30</integer>
		<key>rhandy</key>
		<integer>90</integer>
		<key>class</key>
		<string>LukHero</string>
		<key>warmode</key>
		<true/>
		<key>base</key>
		<string>LukBaseSkin</string>
		<key>body</key>
		<string>LukBodySkin</string>
		<key>ill</key>
		<string>LukIllSkin</string>
		<key>lhandx</key>
		<integer>-30</integer>
		<key>lhandy</key>
		<integer>90</integer>
		<key>rhand</key>
		<string>LukRightHandSkin</string>
		<key>lhand</key>
		<string>LukLeftHandSkin</string>
		<key>lost</key>
		<string>LukLostSkin</string>
		<key>idle</key>
		<string>LukIdleSkin</string>
		<key>mouth</key>
		<string>LukMouthSkin</string>
		<key>shape</key>
		<string>LukShape</string>
	</dict>
	<key>Bill</key>
	<dict>
		<key>rhandx</key>
		<integer>-25</integer>
		<key>rhandy</key>
		<integer>60</integer>
		<key>class</key>
		<string>BillHero</string>
		<key>warmode</key>
		<true/>
		<key>base</key>
		<string>BillBaseSkin</string>
		<key>body</key>
		<string>BillBodySkin</string>
		<key>ill</key>
		<string>BillIllSkin</string>
		<key>lhandx</key>
		<integer>0</integer>
		<key>lhandy</key>
		<integer>0</integer>
		<key>rhand</key>
		<string>BillRightHandSkin</string>
		<key>lhand</key>
		<string>BillLeftHandSkin</string>
		<key>lost</key>
		<string>BillLostSkin</string>
		<key>idle</key>
		<string>BillIdleSkin</string>
		<key>speach</key>
		<string>BillSpeachSkin</string>
		<key>mouth</key>
		<string>BillMouthSkin</string>
		<key>shape</key>
		<string>BillShape</string>
	</dict>
	<key>Enrikeo</key>
	<dict>
		<key>class</key>
		<string>EnrikeoHero</string>
		<key>warmode</key>
		<true/>
		<key>base</key>
		<string>EnrikeoBaseSkin</string>
		<key>move</key>
		<string>EnrikeoMoveSkin</string>
		<key>ill</key>
		<string>EnrikeoIllSkin</string>
		<key>body</key>
		<string>EnrikeoBodySkin</string>
		<key>rhandx</key>
		<integer>-20</integer>
		<key>rhandy</key>
		<integer>55</integer>
		<key>rhandx_bow</key>
		<integer>-30</integer>
		<key>rhandy_bow</key>
		<integer>56</integer>
		<key>lhandx_bow</key>
		<integer>-10</integer>
		<key>lhandy_bow</key>
		<integer>46</integer>
		<key>rhandx_canon</key>
		<integer>-20</integer>
		<key>rhandy_canon</key>
		<integer>56</integer>
		<key>lhandx_canon</key>
		<integer>-15</integer>
		<key>lhandy_canon</key>
		<integer>35</integer>
		<key>lhand</key>
		<string>EnrikeoLeftHandSkin</string>
		<key>rhand</key>
		<string>EnrikeoRightHandSkin</string>
		<key>lhandcanon</key>
		<string>EnrikeoLeftHandCanon</string>
		<key>rhandcanon</key>
		<string>EnrikeoRightHandCanon</string>
		<key>lhandbow</key>
		<string>EnrikeoLeftHandBow</string>
		<key>rhandbow</key>
		<string>EnrikeoRightHandBow</string>
		<key>idle</key>
		<string>EnrikeoIdleSkin</string>
		<key>speach</key>
		<string>EnrikeoSpeachSkin</string>
		<key>mouth</key>
		<string>EnrikeoMouthSkin</string>
		<key>shape</key>
		<string>EnrikeoShape</string>
	</dict>
	<key>Natalia</key>
	<dict>
		<key>lhandx</key>
		<integer>4</integer>
		<key>lhandy</key>
		<integer>65</integer>
		<key>rhandx</key>
		<integer>-2</integer>
		<key>rhandy</key>
		<integer>66</integer>
		<key>lhand</key>
		<string>NataliaLeftHandSkin</string>
		<key>rhand</key>
		<string>NataliaRightHandSkin</string>
		<key>class</key>
		<string>PrincessHero</string>
		<key>warmode</key>
		<true/>
		<key>base</key>
		<string>NataliaBaseSkin</string>
		<key>move</key>
		<string>NataliaMoveSkin</string>
		<key>ill</key>
		<string>NataliaIllSkin</string>
		<key>body</key>
		<string>NataliaBodySkin</string>
		<key>idle</key>
		<string>NataliaIdleSkin</string>
		<key>shape</key>
		<string>NataliaShape</string>
		<key>mouth</key>
		<string>NataliaMouthSkin</string>
	</dict>
	<key>Solder</key>
	<dict>
		<key>rhandx</key>
		<integer>-28</integer>
		<key>rhandy</key>
		<integer>87</integer>
		<key>class</key>
		<string>WarHero</string>
		<key>warmode</key>
		<true/>
		<key>base</key>
		<string>SolderBaseSkin</string>
		<key>body</key>
		<string>SolderBodySkin</string>
		<key>ill</key>
		<string>SolderIllSkin</string>
		<key>lhandx</key>
		<integer>-28</integer>
		<key>lhandy</key>
		<integer>87</integer>
		<key>lhand</key>
		<string>SolderRightHandSkin</string>
		<key>rhand</key>
		<string>SolderLeftHandSkin</string>
		<key>lost</key>
		<string>SolderLostSkin</string>
		<key>idle</key>
		<string>SolderIdleSkin</string>
		<key>speach</key>
		<string>SolderSpeachSkin</string>
		<key>mouth</key>
		<string>SolderMouthSkin</string>
		<key>shape</key>
		<string>SolderShape</string>
	</dict>
	<key>Helper</key>
	<dict>
		<key>lhandx</key>
		<integer>-11</integer>
		<key>lhandy</key>
		<integer>58</integer>
		<key>class</key>
		<string>WarHero</string>
		<key>warmode</key>
		<true/>
		<key>base</key>
		<string>HelperBaseSkin</string>
		<key>body</key>
		<string>HelperBodySkin</string>
		<key>ill</key>
		<string>HelperIllSkin</string>
		<key>rhandx</key>
		<integer>-11</integer>
		<key>rhandy</key>
		<integer>58</integer>
		<key>lhand</key>
		<string>HelperLeftHandSkin</string>
		<key>rhand</key>
		<string>HelperRightHandSkin</string>
		<key>lost</key>
		<string>HelperLostSkin</string>
		<key>idle</key>
		<string>HelperIdleSkin</string>
		<key>speach</key>
		<string>HelperSpeachSkin</string>
		<key>mouth</key>
		<string>HelperMouthSkin</string>
		<key>shape</key>
		<string>HelperShape</string>
	</dict>
</dict>
</plist>
