<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StoryLevel6</key>
	<dict>
		<key>speaches</key>
		<dict>
			<key>positions</key>
			<array>
				<string>-1</string>
				<integer>4</integer>
			</array>
			<key>skin</key>
			<string>StoryLevel6Speaches</string>
		</dict>
		<key>scene</key>
		<string>Level6GameScene</string>
		<key>team2</key>
		<string>EvilTeamLevel6</string>
		<key>upgrade</key>
		<dict>
			<key>scene</key>
			<string>FirstLevelUpgradeScene</string>
			<key>ship</key>
			<string>HispaniolaForEnrikeo</string>
			<key>weapons</key>
			<array>
				<dict>
					<key>name</key>
					<string>BowWeapon</string>
					<key>projectiles</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>RocketWeapon</string>
					<key>projectiles</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>StoryLevel5</key>
	<dict>
		<key>speaches</key>
		<dict>
			<key>positions</key>
			<array>
				<string>4</string>
				<integer>1</integer>
				<string>-1</string>
			</array>
			<key>skin</key>
			<string>StoryLevel5Speaches</string>
		</dict>
		<key>scene</key>
		<string>Level5GameScene</string>
		<key>team2</key>
		<string>EvilTeamLevel5</string>
		<key>upgrade</key>
		<dict>
			<key>scene</key>
			<string>FirstLevelUpgradeScene</string>
			<key>ship</key>
			<string>HispaniolaForEnrikeo</string>
			<key>weapons</key>
			<array>
				<dict>
					<key>name</key>
					<string>BowWeapon</string>
					<key>projectiles</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>RocketWeapon</string>
					<key>projectiles</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>StoryLevel1</key>
	<dict>
		<key>speaches</key>
		<dict>
			<key>positions</key>
			<array>
				<integer>1</integer>
				<string>2</string>
				<string>-1</string>
			</array>
			<key>skin</key>
			<string>StoryLevel1Speaches</string>
		</dict>
		<key>scene</key>
		<string>Level1GameScene</string>
		<key>team1</key>
		<string>EnrikeoTeam</string>
		<key>team2</key>
		<string>EvilTeamLevel1</string>
		<key>upgrade</key>
		<dict>
			<key>scene</key>
			<string>FirstLevelUpgradeScene</string>
			<key>ship</key>
			<string>HispaniolaForEnrikeo</string>
			<key>weapons</key>
			<array>
				<dict>
					<key>name</key>
					<string>BowWeapon</string>
					<key>projectiles</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>RocketWeapon</string>
					<key>projectiles</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>StoryLevel2</key>
	<dict>
		<key>speaches</key>
		<dict>
			<key>positions</key>
			<array>
				<integer>3</integer>
				<string>2</string>
				<string>-2</string>
			</array>
			<key>skin</key>
			<string>StoryLevel2Speaches</string>
		</dict>
		<key>scene</key>
		<string>Level2GameScene</string>
		<key>team2</key>
		<string>EvilTeamLevel2</string>
		<key>upgrade</key>
		<dict>
			<key>scene</key>
			<string>FirstLevelUpgradeScene</string>
			<key>ship</key>
			<string>HispaniolaForEnrikeo</string>
			<key>weapons</key>
			<array>
				<dict>
					<key>name</key>
					<string>BowWeapon</string>
					<key>projectiles</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>RocketWeapon</string>
					<key>projectiles</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>StoryLevel3</key>
	<dict>
		<key>speaches</key>
		<dict>
			<key>positions</key>
			<array>
				<integer>3</integer>
				<string>-1</string>
			</array>
			<key>skin</key>
			<string>StoryLevel3Speaches</string>
		</dict>
		<key>scene</key>
		<string>Level3GameScene</string>
		<key>team2</key>
		<string>EvilTeamLevel3</string>
		<key>upgrade</key>
		<dict>
			<key>scene</key>
			<string>FirstLevelUpgradeScene</string>
			<key>ship</key>
			<string>HispaniolaForEnrikeo</string>
			<key>weapons</key>
			<array>
				<dict>
					<key>name</key>
					<string>BowWeapon</string>
					<key>projectiles</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>RocketWeapon</string>
					<key>projectiles</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>StoryLevel4</key>
	<dict>
		<key>speaches</key>
		<dict>
			<key>positions</key>
			<array>
				<string>3</string>
				<integer>2</integer>
				<string>-1</string>
			</array>
			<key>skin</key>
			<string>StoryLevel4Speaches</string>
		</dict>
		<key>scene</key>
		<string>Level4GameScene</string>
		<key>team2</key>
		<string>EvilTeamLevel4</string>
		<key>upgrade</key>
		<dict>
			<key>scene</key>
			<string>FirstLevelUpgradeScene</string>
			<key>ship</key>
			<string>HispaniolaForEnrikeo</string>
			<key>weapons</key>
			<array>
				<dict>
					<key>name</key>
					<string>BowWeapon</string>
					<key>projectiles</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>RocketWeapon</string>
					<key>projectiles</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>FirstStoryLevel</key>
	<dict>
		<key>speaches</key>
		<dict>
			<key>positions</key>
			<array>
				<integer>-2</integer>
				<string>2</string>
				<string>1</string>
			</array>
			<key>skin</key>
			<string>FirstStoryLevelSpeaches</string>
		</dict>
		<key>scene</key>
		<string>FirstLevelGameScene</string>
		<key>team1</key>
		<string>EnrikeoTeam</string>
		<key>team2</key>
		<string>EvilTeam</string>
		<key>upgrade</key>
		<dict>
			<key>scene</key>
			<string>FirstLevelUpgradeScene</string>
			<key>ship</key>
			<string>HispaniolaForEnrikeo</string>
			<key>weapons</key>
			<array>
				<dict>
					<key>name</key>
					<string>BowWeapon</string>
					<key>projectiles</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>RocketWeapon</string>
					<key>projectiles</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>SecondStoryLevel</key>
	<dict>
		<key>speaches</key>
		<dict>
			<key>positions</key>
			<array>
				<integer>-2</integer>
				<string>2</string>
				<string>3</string>
			</array>
			<key>skin</key>
			<string>2_StoryLevelSpeaches</string>
		</dict>
		<key>scene</key>
		<string>2LevelGameScene</string>
		<key>team2</key>
		<string>EvilTeamSecondLevel</string>
		<key>upgrade</key>
		<dict>
			<key>scene</key>
			<string>FirstLevelUpgradeScene</string>
			<key>ship</key>
			<string>Hispaniola</string>
			<key>weapons</key>
			<array>
				<dict>
					<key>name</key>
					<string>BowWeapon</string>
					<key>projectiles</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>RocketWeapon</string>
					<key>projectiles</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>WarLevelServer</key>
	<dict>
		<key>scene</key>
		<string>FirstLevelGameScene</string>
		<key>team1</key>
		<string>ServerTeam1</string>
		<key>team2</key>
		<string>ServerTeam2</string>
	</dict>
	<key>WarLevelClient</key>
	<dict>
		<key>scene</key>
		<string>FirstLevelGameScene</string>
		<key>team1</key>
		<string>ClientTeam1</string>
		<key>team2</key>
		<string>ClientTeam2</string>
	</dict>
</dict>
</plist>
