<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpearProjectile</key>
	<dict>
		<key>class</key>
		<string>KnifeProjectile</string>
		<key>skin</key>
		<string>SpearProjectileSkin</string>
		<key>shape</key>
		<string>SpearProjectileShape</string>
		<key>damage</key>
		<integer>35</integer>
	</dict>
	<key>AxeProjectile</key>
	<dict>
		<key>class</key>
		<string>WarProjectile</string>
		<key>skin</key>
		<string>AxeProjectileSkin</string>
		<key>shape</key>
		<string>AxeProjectileShape</string>
		<key>damage</key>
		<integer>35</integer>
	</dict>
	<key>ArrowProjectileNatalia</key>
	<dict>
		<key>class</key>
		<string>BowProjectileNatalia</string>
		<key>skin</key>
		<string>ArrowProjectileNataliaSkin</string>
		<key>shape</key>
		<string>ArrowProjectileShape</string>
		<key>damage</key>
		<integer>65</integer>
	</dict>
	<key>SwordProjectile</key>
	<dict>
		<key>class</key>
		<string>KnifeProjectile</string>
		<key>skin</key>
		<string>SwordProjectileSkin</string>
		<key>shape</key>
		<string>KnifeProjectileShape</string>
		<key>damage</key>
		<integer>35</integer>
	</dict>
	<key>KnifeProjectile</key>
	<dict>
		<key>class</key>
		<string>KnifeProjectile</string>
		<key>skin</key>
		<string>KnifeProjectileSkin</string>
		<key>shape</key>
		<string>KnifeProjectileShape</string>
		<key>damage</key>
		<integer>35</integer>
	</dict>
	<key>ArrowProjectile</key>
	<dict>
		<key>class</key>
		<string>BowProjectile</string>
		<key>skin</key>
		<string>ArrowProjectileSkin</string>
		<key>shape</key>
		<string>ArrowProjectileShape</string>
		<key>damage</key>
		<integer>65</integer>
	</dict>
	<key>StoneProjectile</key>
	<dict>
		<key>class</key>
		<string>WarProjectile</string>
		<key>skin</key>
		<string>BallProjectileSkin</string>
		<key>shape</key>
		<string>BallProjectileShape</string>
		<key>damage</key>
		<integer>25</integer>
	</dict>
	<key>RocketProjectile</key>
	<dict>
		<key>class</key>
		<string>RocketProjectile</string>
		<key>skin</key>
		<string>RocketProjectileSkin</string>
		<key>shape</key>
		<string>RocketProjectileShape</string>
		<key>damage</key>
		<integer>85</integer>
	</dict>
</dict>
</plist>
