<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level6GameScene</key>
	<dict>
		<key>class</key>
		<string>WarScene</string>
		<key>front</key>
		<string>SeaBackgroundLevel6</string>
		<key>back</key>
		<string>SeaBackgroundFrontLevel4</string>
		<key>shape</key>
		<string>Scene6Shape</string>
		<key>sp1x</key>
		<integer>150</integer>
		<key>sp1y</key>
		<integer>20</integer>
		<key>sp2x</key>
		<integer>1290</integer>
		<key>sp2y</key>
		<integer>20</integer>
		<key>minimap</key>
		<dict>
			<key>skin</key>
			<string>MiniMapSkinLevel6</string>
			<key>points1</key>
			<array>
				<integer>80</integer>
				<integer>40</integer>
				<integer>45</integer>
				<integer>40</integer>
			</array>
			<key>points2</key>
			<array>
				<integer>455</integer>
				<integer>40</integer>
				<integer>400</integer>
				<integer>40</integer>
				<integer>340</integer>
				<integer>40</integer>
				<integer>305</integer>
				<integer>40</integer>
			</array>
		</dict>
	</dict>
	<key>Level5GameScene</key>
	<dict>
		<key>class</key>
		<string>WarScene</string>
		<key>front</key>
		<string>SeaBackgroundLevel5</string>
		<key>back</key>
		<string>SeaBackgroundFrontLevel4</string>
		<key>shape</key>
		<string>Scene5Shape</string>
		<key>sp1x</key>
		<integer>150</integer>
		<key>sp1y</key>
		<integer>20</integer>
		<key>sp2x</key>
		<integer>1290</integer>
		<key>sp2y</key>
		<integer>20</integer>
		<key>minimap</key>
		<dict>
			<key>skin</key>
			<string>MiniMapSkinLevel5</string>
			<key>points1</key>
			<array>
				<integer>45</integer>
				<integer>25</integer>
				<integer>80</integer>
				<integer>25</integer>
			</array>
			<key>points2</key>
			<array>
				<integer>450</integer>
				<integer>25</integer>
				<integer>415</integer>
				<integer>55</integer>
				<integer>345</integer>
				<integer>25</integer>
				<integer>285</integer>
				<integer>35</integer>
			</array>
		</dict>
	</dict>
	<key>Level4GameScene</key>
	<dict>
		<key>class</key>
		<string>WarScene</string>
		<key>front</key>
		<string>SeaBackgroundLevel4</string>
		<key>back</key>
		<string>SeaBackgroundFrontLevel4</string>
		<key>shape</key>
		<string>Scene4Shape</string>
		<key>sp1x</key>
		<integer>150</integer>
		<key>sp1y</key>
		<integer>20</integer>
		<key>sp2x</key>
		<integer>1290</integer>
		<key>sp2y</key>
		<integer>20</integer>
		<key>minimap</key>
		<dict>
			<key>skin</key>
			<string>MiniMapSkinLevel4</string>
			<key>points1</key>
			<array>
				<integer>80</integer>
				<integer>30</integer>
				<integer>45</integer>
				<integer>30</integer>
			</array>
			<key>points2</key>
			<array>
				<integer>415</integer>
				<integer>40</integer>
				<integer>450</integer>
				<integer>40</integer>
				<integer>330</integer>
				<integer>40</integer>
				<integer>295</integer>
				<integer>40</integer>
			</array>
		</dict>
	</dict>
	<key>Level3GameScene</key>
	<dict>
		<key>class</key>
		<string>WarScene</string>
		<key>front</key>
		<string>SeaBackgroundLevel3</string>
		<key>back</key>
		<string>SeaBackgroundFrontLevel3</string>
		<key>shape</key>
		<string>Scene3Shape</string>
		<key>sp1x</key>
		<integer>150</integer>
		<key>sp1y</key>
		<integer>20</integer>
		<key>sp2x</key>
		<integer>1290</integer>
		<key>sp2y</key>
		<integer>20</integer>
		<key>minimap</key>
		<dict>
			<key>skin</key>
			<string>MiniMapSkinLevel3</string>
			<key>points1</key>
			<array>
				<integer>80</integer>
				<integer>40</integer>
				<integer>45</integer>
				<integer>40</integer>
			</array>
			<key>points2</key>
			<array>
				<integer>330</integer>
				<integer>40</integer>
				<integer>415</integer>
				<integer>40</integer>
				<integer>240</integer>
				<integer>40</integer>
			</array>
		</dict>
	</dict>
	<key>Level1GameScene</key>
	<dict>
		<key>class</key>
		<string>WarScene</string>
		<key>front</key>
		<string>SeaBackground</string>
		<key>back</key>
		<string>SeaBackgroundFront</string>
		<key>shape</key>
		<string>Scene1Shape</string>
		<key>sp1x</key>
		<integer>150</integer>
		<key>sp1y</key>
		<integer>20</integer>
		<key>sp2x</key>
		<integer>1250</integer>
		<key>sp2y</key>
		<integer>20</integer>
		<key>minimap</key>
		<dict>
			<key>skin</key>
			<string>MiniMapSkin</string>
			<key>points1</key>
			<array>
				<integer>70</integer>
				<integer>40</integer>
				<integer>35</integer>
				<integer>40</integer>
			</array>
			<key>points2</key>
			<array>
				<integer>390</integer>
				<integer>40</integer>
				<integer>435</integer>
				<integer>40</integer>
			</array>
		</dict>
	</dict>
	<key>Level2GameScene</key>
	<dict>
		<key>class</key>
		<string>WarScene</string>
		<key>front</key>
		<string>SeaBackgroundLevel2</string>
		<key>back</key>
		<string>SeaBackgroundFrontLevel2</string>
		<key>shape</key>
		<string>Scene2Shape</string>
		<key>sp1x</key>
		<integer>150</integer>
		<key>sp1y</key>
		<integer>20</integer>
		<key>sp2x</key>
		<integer>1290</integer>
		<key>sp2y</key>
		<integer>20</integer>
		<key>minimap</key>
		<dict>
			<key>skin</key>
			<string>MiniMapSkinLevel2</string>
			<key>points1</key>
			<array>
				<integer>80</integer>
				<integer>40</integer>
				<integer>45</integer>
				<integer>40</integer>
			</array>
			<key>points2</key>
			<array>
				<integer>370</integer>
				<integer>40</integer>
				<integer>415</integer>
				<integer>40</integer>
				<integer>310</integer>
				<integer>40</integer>
			</array>
		</dict>
	</dict>
	<key>FirstLevelUpgradeScene</key>
	<dict>
		<key>class</key>
		<string>UpgradeScene</string>
		<key>front</key>
		<string>SeaBackground</string>
		<key>back</key>
		<string>SeaBackgroundFront</string>
		<key>sp1x</key>
		<integer>150</integer>
		<key>sp1y</key>
		<integer>20</integer>
	</dict>
</dict>
</plist>
