<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AxeProjectileShape</key>
	<dict>
		<key>m</key>
		<integer>100</integer>
		<key>i</key>
		<integer>10000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>circle</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>5.98</real>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>40</integer>
				<key>r</key>
				<integer>18</integer>
			</dict>
		</array>
	</dict>
	<key>SpearProjectileShape</key>
	<dict>
		<key>m</key>
		<integer>100</integer>
		<key>i</key>
		<integer>10000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>circle</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>5.98</real>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<integer>0</integer>
				<key>r</key>
				<integer>18</integer>
			</dict>
		</array>
	</dict>
	<key>MargoShape</key>
	<dict>
		<key>m</key>
		<integer>1</integer>
		<key>i</key>
		<integer>100000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>circle</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>x</key>
				<integer>15</integer>
				<key>y</key>
				<integer>104</integer>
				<key>r</key>
				<integer>33</integer>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<integer>1</integer>
				<key>points</key>
				<array>
					<integer>-10</integer>
					<integer>-5</integer>
					<integer>-10</integer>
					<integer>70</integer>
					<integer>30</integer>
					<integer>70</integer>
					<integer>30</integer>
					<integer>-5</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>Scene6Shape</key>
	<dict>
		<key>static</key>
		<true/>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>1300</integer>
					<integer>0</integer>
					<integer>1300</integer>
					<integer>15</integer>
					<integer>1400</integer>
					<integer>15</integer>
					<string>1400</string>
					<string>0</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>100</integer>
					<integer>0</integer>
					<integer>100</integer>
					<integer>15</integer>
					<integer>200</integer>
					<integer>15</integer>
					<integer>200</integer>
					<integer>0</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>900</integer>
					<integer>0</integer>
					<integer>900</integer>
					<integer>15</integer>
					<integer>1000</integer>
					<integer>15</integer>
					<string>1000</string>
					<string>0</string>
				</array>
			</dict>
		</array>
	</dict>
	<key>HispaniolaShapeLevel6</key>
	<dict>
		<key>static</key>
		<false/>
		<key>m</key>
		<integer>100000</integer>
		<key>i</key>
		<integer>1000000000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-80</integer>
					<integer>80</integer>
					<integer>-80</integer>
					<integer>85</integer>
					<integer>-40</integer>
					<integer>85</integer>
					<integer>-40</integer>
					<integer>80</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>0</integer>
					<integer>-3</integer>
					<integer>0</integer>
					<integer>65</integer>
					<integer>180</integer>
					<integer>65</integer>
					<integer>160</integer>
					<integer>-3</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-25</integer>
					<integer>25</integer>
					<integer>-45</integer>
					<integer>80</integer>
					<integer>-10</integer>
					<integer>70</integer>
					<string>-10</string>
					<string>25</string>
				</array>
			</dict>
		</array>
	</dict>
	<key>RaftShapeLevel6</key>
	<dict>
		<key>static</key>
		<false/>
		<key>m</key>
		<integer>100000</integer>
		<key>i</key>
		<integer>1000000000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-220</integer>
					<integer>-3</integer>
					<integer>-220</integer>
					<integer>20</integer>
					<integer>-50</integer>
					<integer>20</integer>
					<integer>-50</integer>
					<integer>-3</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>DennyShape</key>
	<dict>
		<key>m</key>
		<integer>1</integer>
		<key>i</key>
		<integer>100000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>circle</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>104</integer>
				<key>r</key>
				<integer>33</integer>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<integer>1</integer>
				<key>points</key>
				<array>
					<integer>-15</integer>
					<integer>-5</integer>
					<integer>-15</integer>
					<integer>70</integer>
					<integer>25</integer>
					<integer>70</integer>
					<integer>25</integer>
					<integer>-5</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>BoatLeftShapeLevel5</key>
	<dict>
		<key>static</key>
		<false/>
		<key>m</key>
		<integer>100000</integer>
		<key>i</key>
		<integer>1000000000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>10</integer>
					<integer>-3</integer>
					<integer>10</integer>
					<integer>15</integer>
					<integer>70</integer>
					<integer>15</integer>
					<integer>70</integer>
					<integer>-3</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>BoatRightShapeLevel5</key>
	<dict>
		<key>static</key>
		<false/>
		<key>m</key>
		<integer>100000</integer>
		<key>i</key>
		<integer>1000000000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>10</integer>
					<integer>-3</integer>
					<integer>10</integer>
					<integer>15</integer>
					<integer>70</integer>
					<integer>15</integer>
					<integer>70</integer>
					<integer>-3</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>HispaniolaShapeLevel5</key>
	<dict>
		<key>static</key>
		<false/>
		<key>m</key>
		<integer>100000</integer>
		<key>i</key>
		<integer>1000000000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>40</integer>
					<integer>140</integer>
					<integer>40</integer>
					<integer>145</integer>
					<integer>80</integer>
					<integer>145</integer>
					<integer>80</integer>
					<integer>140</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>0</integer>
					<integer>-3</integer>
					<integer>0</integer>
					<integer>20</integer>
					<integer>190</integer>
					<integer>20</integer>
					<integer>170</integer>
					<integer>-3</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-25</integer>
					<integer>25</integer>
					<integer>-25</integer>
					<integer>60</integer>
					<integer>-10</integer>
					<integer>60</integer>
					<string>-10</string>
					<string>25</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>185</integer>
					<integer>21</integer>
					<integer>185</integer>
					<integer>25</integer>
					<integer>190</integer>
					<integer>25</integer>
					<integer>190</integer>
					<integer>21</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>110</integer>
					<integer>70</integer>
					<integer>110</integer>
					<integer>75</integer>
					<integer>200</integer>
					<integer>75</integer>
					<integer>200</integer>
					<integer>70</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>Scene5Shape</key>
	<dict>
		<key>static</key>
		<true/>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>1300</integer>
					<integer>0</integer>
					<integer>1300</integer>
					<integer>15</integer>
					<integer>1400</integer>
					<integer>15</integer>
					<string>1400</string>
					<string>0</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>100</integer>
					<integer>0</integer>
					<integer>100</integer>
					<integer>15</integer>
					<integer>200</integer>
					<integer>15</integer>
					<integer>200</integer>
					<integer>0</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>900</integer>
					<integer>0</integer>
					<integer>900</integer>
					<integer>15</integer>
					<integer>960</integer>
					<integer>15</integer>
					<string>960</string>
					<string>0</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>1100</integer>
					<integer>0</integer>
					<integer>1100</integer>
					<integer>15</integer>
					<integer>1160</integer>
					<integer>15</integer>
					<string>1160</string>
					<string>0</string>
				</array>
			</dict>
		</array>
	</dict>
	<key>HispaniolaShapeLevel3 - 2</key>
	<dict>
		<key>static</key>
		<false/>
		<key>m</key>
		<integer>100000</integer>
		<key>i</key>
		<integer>1000000000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>80</integer>
					<integer>40</integer>
					<integer>80</integer>
					<integer>60</integer>
					<integer>280</integer>
					<integer>60</integer>
					<integer>280</integer>
					<integer>40</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-200</integer>
					<integer>-3</integer>
					<integer>-220</integer>
					<integer>20</integer>
					<integer>-10</integer>
					<integer>20</integer>
					<integer>-30</integer>
					<integer>-3</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-225</integer>
					<integer>25</integer>
					<integer>-245</integer>
					<integer>80</integer>
					<integer>-210</integer>
					<integer>70</integer>
					<string>-210</string>
					<string>25</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-15</integer>
					<integer>21</integer>
					<integer>-15</integer>
					<integer>25</integer>
					<integer>-10</integer>
					<integer>25</integer>
					<integer>-10</integer>
					<integer>21</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>BarrelShapeLevel4</key>
	<dict>
		<key>static</key>
		<false/>
		<key>m</key>
		<integer>100000</integer>
		<key>i</key>
		<integer>1000000000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-300</integer>
					<integer>-3</integer>
					<integer>-300</integer>
					<integer>20</integer>
					<integer>-90</integer>
					<integer>20</integer>
					<integer>-90</integer>
					<integer>-3</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>HispaniolaShapeLevel4</key>
	<dict>
		<key>static</key>
		<false/>
		<key>m</key>
		<integer>100000</integer>
		<key>i</key>
		<integer>1000000000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>50</integer>
					<integer>140</integer>
					<integer>50</integer>
					<integer>145</integer>
					<integer>110</integer>
					<integer>145</integer>
					<integer>110</integer>
					<integer>140</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>0</integer>
					<integer>-3</integer>
					<integer>0</integer>
					<integer>20</integer>
					<integer>190</integer>
					<integer>20</integer>
					<integer>170</integer>
					<integer>-3</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-25</integer>
					<integer>25</integer>
					<integer>-45</integer>
					<integer>80</integer>
					<integer>-10</integer>
					<integer>70</integer>
					<string>-10</string>
					<string>25</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>185</integer>
					<integer>21</integer>
					<integer>185</integer>
					<integer>25</integer>
					<integer>190</integer>
					<integer>25</integer>
					<integer>190</integer>
					<integer>21</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>KarlShape</key>
	<dict>
		<key>m</key>
		<integer>1</integer>
		<key>i</key>
		<integer>100000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>circle</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>104</integer>
				<key>r</key>
				<integer>33</integer>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<integer>1</integer>
				<key>points</key>
				<array>
					<integer>-15</integer>
					<integer>-5</integer>
					<integer>-15</integer>
					<integer>70</integer>
					<integer>25</integer>
					<integer>70</integer>
					<integer>25</integer>
					<integer>-5</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>Scene4Shape</key>
	<dict>
		<key>static</key>
		<true/>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>1300</integer>
					<integer>0</integer>
					<integer>1300</integer>
					<integer>15</integer>
					<integer>1400</integer>
					<integer>15</integer>
					<string>1400</string>
					<string>0</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>100</integer>
					<integer>0</integer>
					<integer>100</integer>
					<integer>15</integer>
					<integer>200</integer>
					<integer>15</integer>
					<integer>200</integer>
					<integer>0</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>900</integer>
					<integer>0</integer>
					<integer>900</integer>
					<integer>15</integer>
					<integer>1000</integer>
					<integer>15</integer>
					<string>1000</string>
					<string>0</string>
				</array>
			</dict>
		</array>
	</dict>
	<key>MunikShape</key>
	<dict>
		<key>m</key>
		<integer>1</integer>
		<key>i</key>
		<integer>100000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>circle</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>104</integer>
				<key>r</key>
				<integer>33</integer>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<integer>1</integer>
				<key>points</key>
				<array>
					<integer>-15</integer>
					<integer>-5</integer>
					<integer>-15</integer>
					<integer>70</integer>
					<integer>25</integer>
					<integer>70</integer>
					<integer>25</integer>
					<integer>-5</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>DandyShape</key>
	<dict>
		<key>m</key>
		<integer>1</integer>
		<key>i</key>
		<integer>100000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>circle</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>104</integer>
				<key>r</key>
				<integer>33</integer>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<integer>1</integer>
				<key>points</key>
				<array>
					<integer>-15</integer>
					<integer>-5</integer>
					<integer>-15</integer>
					<integer>70</integer>
					<integer>25</integer>
					<integer>70</integer>
					<integer>25</integer>
					<integer>-5</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>BarrelShapeLevel3</key>
	<dict>
		<key>static</key>
		<false/>
		<key>m</key>
		<integer>100000</integer>
		<key>i</key>
		<integer>1000000000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-190</integer>
					<integer>-3</integer>
					<integer>-190</integer>
					<integer>20</integer>
					<integer>-90</integer>
					<integer>20</integer>
					<integer>-90</integer>
					<integer>-3</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-190</integer>
					<integer>20</integer>
					<integer>-190</integer>
					<integer>30</integer>
					<integer>-180</integer>
					<integer>30</integer>
					<integer>-180</integer>
					<integer>20</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-100</integer>
					<integer>20</integer>
					<integer>-100</integer>
					<integer>30</integer>
					<integer>-90</integer>
					<integer>30</integer>
					<integer>-90</integer>
					<integer>20</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>HispaniolaShapeLevel3</key>
	<dict>
		<key>static</key>
		<false/>
		<key>m</key>
		<integer>100000</integer>
		<key>i</key>
		<integer>1000000000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-200</integer>
					<integer>-3</integer>
					<integer>-220</integer>
					<integer>20</integer>
					<integer>-10</integer>
					<integer>20</integer>
					<integer>-30</integer>
					<integer>-3</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-225</integer>
					<integer>21</integer>
					<integer>-225</integer>
					<integer>50</integer>
					<integer>-210</integer>
					<integer>50</integer>
					<string>-210</string>
					<string>21</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-15</integer>
					<integer>21</integer>
					<integer>-15</integer>
					<integer>25</integer>
					<integer>-10</integer>
					<integer>25</integer>
					<integer>-10</integer>
					<integer>21</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>LukShape</key>
	<dict>
		<key>m</key>
		<integer>1</integer>
		<key>i</key>
		<integer>100000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>circle</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>104</integer>
				<key>r</key>
				<integer>33</integer>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<integer>1</integer>
				<key>points</key>
				<array>
					<integer>-15</integer>
					<integer>-5</integer>
					<integer>-15</integer>
					<integer>70</integer>
					<integer>25</integer>
					<integer>70</integer>
					<integer>25</integer>
					<integer>-5</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>Scene3Shape</key>
	<dict>
		<key>static</key>
		<true/>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>1400</integer>
					<integer>45</integer>
					<integer>1400</integer>
					<integer>60</integer>
					<integer>1580</integer>
					<integer>60</integer>
					<string>1580</string>
					<string>45</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>1100</integer>
					<integer>0</integer>
					<integer>1100</integer>
					<integer>15</integer>
					<integer>1200</integer>
					<integer>15</integer>
					<string>1200</string>
					<string>0</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>100</integer>
					<integer>0</integer>
					<integer>100</integer>
					<integer>15</integer>
					<integer>200</integer>
					<integer>15</integer>
					<integer>200</integer>
					<integer>0</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>850</integer>
					<integer>0</integer>
					<integer>850</integer>
					<integer>15</integer>
					<integer>950</integer>
					<integer>15</integer>
					<string>950</string>
					<string>0</string>
				</array>
			</dict>
		</array>
	</dict>
	<key>HispaniolaShape</key>
	<dict>
		<key>static</key>
		<false/>
		<key>m</key>
		<integer>100000</integer>
		<key>i</key>
		<integer>1000000000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-50</integer>
					<integer>-3</integer>
					<integer>-70</integer>
					<integer>20</integer>
					<integer>160</integer>
					<integer>20</integer>
					<integer>140</integer>
					<integer>-3</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-95</integer>
					<integer>25</integer>
					<integer>-115</integer>
					<integer>80</integer>
					<integer>-80</integer>
					<integer>70</integer>
					<string>-80</string>
					<string>25</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>140</integer>
					<integer>20</integer>
					<integer>140</integer>
					<integer>30</integer>
					<integer>145</integer>
					<integer>30</integer>
					<integer>145</integer>
					<integer>20</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>Scene1Shape</key>
	<dict>
		<key>static</key>
		<true/>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>100</integer>
					<integer>0</integer>
					<integer>100</integer>
					<integer>15</integer>
					<integer>200</integer>
					<integer>15</integer>
					<integer>200</integer>
					<integer>0</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>1220</integer>
					<integer>0</integer>
					<integer>1220</integer>
					<integer>15</integer>
					<integer>1320</integer>
					<integer>15</integer>
					<integer>1320</integer>
					<integer>0</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>HelperShape</key>
	<dict>
		<key>m</key>
		<integer>1</integer>
		<key>i</key>
		<integer>1000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>circle</string>
				<key>e</key>
				<integer>1</integer>
				<key>u</key>
				<real>0.8</real>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>104</integer>
				<key>r</key>
				<integer>33</integer>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<integer>1</integer>
				<key>u</key>
				<real>1</real>
				<key>points</key>
				<array>
					<integer>-20</integer>
					<integer>-5</integer>
					<integer>-20</integer>
					<integer>70</integer>
					<integer>20</integer>
					<integer>70</integer>
					<integer>20</integer>
					<integer>-5</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>KnifeProjectileShape</key>
	<dict>
		<key>m</key>
		<integer>100</integer>
		<key>i</key>
		<integer>10000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>circle</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>5.98</real>
				<key>x</key>
				<integer>20</integer>
				<key>y</key>
				<integer>0</integer>
				<key>r</key>
				<integer>18</integer>
			</dict>
		</array>
	</dict>
	<key>HispaniolaShapeLevel2</key>
	<dict>
		<key>static</key>
		<false/>
		<key>m</key>
		<integer>100000</integer>
		<key>i</key>
		<integer>1000000000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-30</integer>
					<integer>-3</integer>
					<integer>-50</integer>
					<integer>20</integer>
					<integer>185</integer>
					<integer>20</integer>
					<integer>165</integer>
					<integer>-3</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-55</integer>
					<integer>21</integer>
					<integer>-55</integer>
					<integer>50</integer>
					<integer>-40</integer>
					<integer>50</integer>
					<string>-40</string>
					<string>21</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>180</integer>
					<integer>20</integer>
					<integer>180</integer>
					<integer>30</integer>
					<integer>185</integer>
					<integer>30</integer>
					<integer>185</integer>
					<integer>20</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>BarrelShapeLevel2</key>
	<dict>
		<key>static</key>
		<false/>
		<key>m</key>
		<integer>100000</integer>
		<key>i</key>
		<integer>1000000000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-20</integer>
					<integer>-3</integer>
					<integer>-20</integer>
					<integer>20</integer>
					<integer>80</integer>
					<integer>20</integer>
					<integer>80</integer>
					<integer>-3</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-20</integer>
					<integer>20</integer>
					<integer>-20</integer>
					<integer>30</integer>
					<integer>-10</integer>
					<integer>30</integer>
					<integer>-10</integer>
					<integer>20</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>70</integer>
					<integer>20</integer>
					<integer>70</integer>
					<integer>30</integer>
					<integer>80</integer>
					<integer>30</integer>
					<integer>80</integer>
					<integer>20</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>BarrelShape</key>
	<dict>
		<key>static</key>
		<false/>
		<key>m</key>
		<integer>100000</integer>
		<key>i</key>
		<integer>1000000000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-220</integer>
					<integer>-3</integer>
					<integer>-220</integer>
					<integer>20</integer>
					<integer>-120</integer>
					<integer>20</integer>
					<integer>-120</integer>
					<integer>-3</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>HispaniolaShape1</key>
	<dict>
		<key>static</key>
		<false/>
		<key>m</key>
		<integer>100000</integer>
		<key>i</key>
		<integer>1000000000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-220</integer>
					<integer>-3</integer>
					<integer>-220</integer>
					<integer>20</integer>
					<integer>-120</integer>
					<integer>20</integer>
					<integer>-120</integer>
					<integer>-3</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-30</integer>
					<integer>-3</integer>
					<integer>-50</integer>
					<integer>20</integer>
					<integer>160</integer>
					<integer>20</integer>
					<integer>140</integer>
					<integer>-3</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-55</integer>
					<integer>25</integer>
					<integer>-75</integer>
					<integer>80</integer>
					<integer>-40</integer>
					<integer>70</integer>
					<string>-40</string>
					<string>25</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>180</integer>
					<integer>50</integer>
					<integer>180</integer>
					<integer>80</integer>
					<integer>200</integer>
					<integer>90</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>100</integer>
					<integer>25</integer>
					<integer>100</integer>
					<integer>50</integer>
					<integer>175</integer>
					<integer>50</integer>
					<string>175</string>
					<string>25</string>
				</array>
			</dict>
		</array>
	</dict>
	<key>Scene2Shape</key>
	<dict>
		<key>static</key>
		<true/>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>100</integer>
					<integer>0</integer>
					<integer>100</integer>
					<integer>15</integer>
					<integer>200</integer>
					<integer>15</integer>
					<integer>200</integer>
					<integer>0</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>1260</integer>
					<integer>0</integer>
					<integer>1260</integer>
					<integer>15</integer>
					<integer>1360</integer>
					<integer>15</integer>
					<string>1360</string>
					<string>0</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>1000</integer>
					<integer>0</integer>
					<integer>1000</integer>
					<integer>15</integer>
					<integer>1100</integer>
					<integer>15</integer>
					<string>1100</string>
					<string>0</string>
				</array>
			</dict>
		</array>
	</dict>
	<key>BillShape</key>
	<dict>
		<key>m</key>
		<integer>1</integer>
		<key>i</key>
		<integer>100000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>circle</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>0.8</real>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>104</integer>
				<key>r</key>
				<integer>33</integer>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<integer>1</integer>
				<key>points</key>
				<array>
					<integer>-15</integer>
					<integer>-5</integer>
					<integer>-15</integer>
					<integer>70</integer>
					<integer>25</integer>
					<integer>70</integer>
					<integer>25</integer>
					<integer>-5</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>ArrowProjectileShape</key>
	<dict>
		<key>m</key>
		<integer>100</integer>
		<key>i</key>
		<integer>10000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>circle</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>5.98</real>
				<key>x</key>
				<integer>50</integer>
				<key>y</key>
				<integer>0</integer>
				<key>r</key>
				<integer>18</integer>
			</dict>
		</array>
	</dict>
	<key>SolderShape</key>
	<dict>
		<key>m</key>
		<integer>1</integer>
		<key>i</key>
		<integer>1000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>circle</string>
				<key>e</key>
				<integer>1</integer>
				<key>u</key>
				<real>0.8</real>
				<key>x</key>
				<integer>10</integer>
				<key>y</key>
				<integer>129</integer>
				<key>r</key>
				<integer>33</integer>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<integer>1</integer>
				<key>u</key>
				<integer>1</integer>
				<key>points</key>
				<array>
					<integer>-5</integer>
					<integer>-5</integer>
					<integer>-5</integer>
					<integer>95</integer>
					<integer>30</integer>
					<integer>95</integer>
					<integer>30</integer>
					<integer>-5</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>NataliaShape</key>
	<dict>
		<key>m</key>
		<integer>1</integer>
		<key>i</key>
		<integer>1000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>circle</string>
				<key>e</key>
				<integer>1</integer>
				<key>u</key>
				<real>0.8</real>
				<key>x</key>
				<integer>-5</integer>
				<key>y</key>
				<integer>104</integer>
				<key>r</key>
				<integer>33</integer>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<integer>1</integer>
				<key>u</key>
				<integer>1</integer>
				<key>points</key>
				<array>
					<integer>-20</integer>
					<integer>-5</integer>
					<integer>-20</integer>
					<integer>70</integer>
					<integer>20</integer>
					<integer>70</integer>
					<integer>20</integer>
					<integer>-5</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>EnrikeoShape</key>
	<dict>
		<key>m</key>
		<integer>1</integer>
		<key>i</key>
		<integer>1000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>circle</string>
				<key>e</key>
				<integer>1</integer>
				<key>u</key>
				<real>0.8</real>
				<key>x</key>
				<integer>-5</integer>
				<key>y</key>
				<integer>84</integer>
				<key>r</key>
				<integer>33</integer>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<integer>1</integer>
				<key>u</key>
				<integer>1</integer>
				<key>points</key>
				<array>
					<integer>-20</integer>
					<integer>-5</integer>
					<integer>-20</integer>
					<integer>50</integer>
					<integer>20</integer>
					<integer>50</integer>
					<integer>20</integer>
					<integer>-5</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>BallProjectileShape</key>
	<dict>
		<key>m</key>
		<integer>1</integer>
		<key>i</key>
		<integer>10000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>circle</string>
				<key>e</key>
				<real>0.8</real>
				<key>u</key>
				<real>5.98</real>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>r</key>
				<integer>18</integer>
			</dict>
		</array>
	</dict>
	<key>RocketProjectileShape</key>
	<dict>
		<key>m</key>
		<integer>100</integer>
		<key>i</key>
		<integer>10000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>circle</string>
				<key>e</key>
				<real>0.5</real>
				<key>u</key>
				<real>5.98</real>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>r</key>
				<integer>25</integer>
			</dict>
		</array>
	</dict>
	<key>EmptyShape</key>
	<dict>
		<key>m</key>
		<integer>100</integer>
		<key>i</key>
		<integer>10000</integer>
		<key>shapes</key>
		<array/>
	</dict>
	<key>BoatShape</key>
	<dict>
		<key>static</key>
		<false/>
		<key>m</key>
		<integer>100000</integer>
		<key>i</key>
		<integer>1000000000</integer>
		<key>shapes</key>
		<array>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<integer>0</integer>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-70</integer>
					<integer>-3</integer>
					<integer>-90</integer>
					<integer>20</integer>
					<integer>90</integer>
					<integer>20</integer>
					<integer>70</integer>
					<integer>-3</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<integer>0</integer>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>-100</integer>
					<integer>25</integer>
					<integer>-80</integer>
					<integer>27</integer>
					<integer>-80</integer>
					<integer>25</integer>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>polygon</string>
				<key>e</key>
				<integer>0</integer>
				<key>u</key>
				<real>0.8</real>
				<key>points</key>
				<array>
					<integer>80</integer>
					<integer>45</integer>
					<integer>100</integer>
					<integer>25</integer>
					<integer>80</integer>
					<integer>25</integer>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
