<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HispaniolaLevel6</key>
	<dict>
		<key>class</key>
		<string>MultiPlaformWarShip</string>
		<key>ships</key>
		<array>
			<dict>
				<key>hx0</key>
				<integer>-170</integer>
				<key>hy0</key>
				<integer>70</integer>
				<key>hx1</key>
				<integer>50</integer>
				<key>hy1</key>
				<integer>90</integer>
				<key>shape</key>
				<string>HispaniolaShapeLevel6</string>
				<key>back</key>
				<string>HispaniolaBackSkin6Level</string>
				<key>front</key>
				<string>HispaniolaFrontSkin6Level</string>
				<key>spx</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>hx1</key>
				<integer>200</integer>
				<key>hy1</key>
				<integer>24</integer>
				<key>hx0</key>
				<integer>80</integer>
				<key>hy0</key>
				<integer>24</integer>
				<key>shape</key>
				<string>RaftShapeLevel6</string>
				<key>back</key>
				<string>RaftBackSkinLevel6</string>
				<key>front</key>
				<string></string>
				<key>spx</key>
				<integer>-200</integer>
			</dict>
		</array>
	</dict>
	<key>HispaniolaLevel5</key>
	<dict>
		<key>class</key>
		<string>MultiPlaformWarShip</string>
		<key>ships</key>
		<array>
			<dict>
				<key>hx0</key>
				<integer>-160</integer>
				<key>hy0</key>
				<integer>80</integer>
				<key>hx1</key>
				<integer>-60</integer>
				<key>hy1</key>
				<integer>150</integer>
				<key>shape</key>
				<string>HispaniolaShapeLevel5</string>
				<key>back</key>
				<string>HispaniolaBackSkin5Level</string>
				<key>front</key>
				<string>HispaniolaFrontSkin5Level</string>
				<key>spx</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>hx0</key>
				<integer>-40</integer>
				<key>hy0</key>
				<integer>24</integer>
				<key>shape</key>
				<string>BoatRightShapeLevel5</string>
				<key>back</key>
				<string>BoatRightBackSkinLevel5</string>
				<key>front</key>
				<string>BoatRightFrontSkinLevel5</string>
				<key>spx</key>
				<integer>-200</integer>
			</dict>
			<dict>
				<key>hx0</key>
				<integer>-40</integer>
				<key>hy0</key>
				<integer>24</integer>
				<key>shape</key>
				<string>BoatLeftShapeLevel5</string>
				<key>back</key>
				<string>BoatLeftBackSkinLevel5</string>
				<key>front</key>
				<string>BoatLeftFrontSkinLevel5</string>
				<key>spx</key>
				<integer>-400</integer>
			</dict>
		</array>
	</dict>
	<key>HispaniolaLevel4</key>
	<dict>
		<key>class</key>
		<string>MultiPlaformWarShip</string>
		<key>ships</key>
		<array>
			<dict>
				<key>hx0</key>
				<integer>-80</integer>
				<key>hy0</key>
				<integer>150</integer>
				<key>hx1</key>
				<integer>-160</integer>
				<key>hy1</key>
				<integer>24</integer>
				<key>shape</key>
				<string>HispaniolaShapeLevel4</string>
				<key>back</key>
				<string>HispaniolaBackSkin4Level</string>
				<key>front</key>
				<string>HispaniolaFrontSkin4Level</string>
				<key>spx</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>hx1</key>
				<integer>250</integer>
				<key>hy1</key>
				<integer>24</integer>
				<key>hx0</key>
				<integer>130</integer>
				<key>hy0</key>
				<integer>24</integer>
				<key>shape</key>
				<string>BarrelShapeLevel4</string>
				<key>back</key>
				<string>PlotFrontSkinLevel4</string>
				<key>front</key>
				<string></string>
				<key>spx</key>
				<integer>-200</integer>
			</dict>
		</array>
	</dict>
	<key>HispaniolaForEnrikeo</key>
	<dict>
		<key>class</key>
		<string>WarShip</string>
		<key>hx0</key>
		<integer>41</integer>
		<key>hy0</key>
		<integer>20</integer>
		<key>hx1</key>
		<integer>-43</integer>
		<key>hy1</key>
		<integer>23</integer>
		<key>back</key>
		<string>HispaniolaBackSkinEnrikeo</string>
		<key>front</key>
		<string>HispaniolaFrontSkinEnrikeo</string>
		<key>shape</key>
		<string>BoatShape</string>
	</dict>
	<key>HispaniolaLevel3</key>
	<dict>
		<key>class</key>
		<string>MultiPlaformWarShip</string>
		<key>ships</key>
		<array>
			<dict>
				<key>hx0</key>
				<integer>100</integer>
				<key>hy0</key>
				<integer>24</integer>
				<key>hx1</key>
				<integer>-130</integer>
				<key>hy1</key>
				<integer>45</integer>
				<key>shape</key>
				<string>HispaniolaShapeLevel3</string>
				<key>back</key>
				<string>HispaniolaBackSkin3Level</string>
				<key>front</key>
				<string>HispaniolaFrontSkin3Level</string>
				<key>spx</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>hx0</key>
				<integer>130</integer>
				<key>hy0</key>
				<integer>24</integer>
				<key>shape</key>
				<string>BarrelShapeLevel3</string>
				<key>back</key>
				<string>BarrelBackSkinLevel3</string>
				<key>front</key>
				<string>BarrelFrontSkinLevel3</string>
				<key>spx</key>
				<integer>-250</integer>
			</dict>
		</array>
	</dict>
	<key>Hispaniola</key>
	<dict>
		<key>class</key>
		<string>WarShip</string>
		<key>hx0</key>
		<integer>30</integer>
		<key>hy0</key>
		<integer>24</integer>
		<key>hx1</key>
		<integer>-90</integer>
		<key>hy1</key>
		<integer>24</integer>
		<key>back</key>
		<string>HispaniolaBackSkin</string>
		<key>front</key>
		<string>HispaniolaFrontSkin</string>
		<key>shape</key>
		<string>HispaniolaShape</string>
	</dict>
	<key>HispaniolaLevel2</key>
	<dict>
		<key>class</key>
		<string>MultiPlaformWarShip</string>
		<key>ships</key>
		<array>
			<dict>
				<key>hx0</key>
				<integer>0</integer>
				<key>hy0</key>
				<integer>24</integer>
				<key>hx1</key>
				<integer>-130</integer>
				<key>hy1</key>
				<integer>24</integer>
				<key>shape</key>
				<string>HispaniolaShapeLevel2</string>
				<key>back</key>
				<string>HispaniolaBackSkin2Level</string>
				<key>front</key>
				<string>HispaniolaFrontSkin2Level</string>
				<key>spx</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>hx0</key>
				<integer>-30</integer>
				<key>hy0</key>
				<integer>24</integer>
				<key>shape</key>
				<string>BarrelShapeLevel2</string>
				<key>back</key>
				<string>BarrelBackSkin</string>
				<key>front</key>
				<string>BarrelFrontSkin</string>
				<key>spx</key>
				<integer>-270</integer>
			</dict>
		</array>
	</dict>
	<key>HispaniolaOn2Level_OLD</key>
	<dict>
		<key>class</key>
		<string>WarShip</string>
		<key>hx0</key>
		<integer>170</integer>
		<key>hy0</key>
		<integer>25</integer>
		<key>hx1</key>
		<integer>-130</integer>
		<key>hy1</key>
		<integer>55</integer>
		<key>hx2</key>
		<integer>-10</integer>
		<key>hy2</key>
		<integer>25</integer>
		<key>shape</key>
		<string>HispaniolaShape</string>
		<key>back</key>
		<string>HispaniolaBackSkin2Level</string>
		<key>front</key>
		<string>HispaniolaFrontSkin2Level</string>
	</dict>
	<key>HispaniolaForEnrikeo_OLD</key>
	<dict>
		<key>class</key>
		<string>WarShip</string>
		<key>hx1</key>
		<integer>40</integer>
		<key>hy1</key>
		<integer>25</integer>
		<key>hx0</key>
		<integer>-60</integer>
		<key>hy0</key>
		<integer>25</integer>
		<key>back</key>
		<string>HispaniolaBackSkin</string>
		<key>front</key>
		<string>HispaniolaFrontSkin</string>
		<key>shape</key>
		<string>BoatShape</string>
	</dict>
	<key>Boat</key>
	<dict>
		<key>class</key>
		<string>WarShip</string>
		<key>hx0</key>
		<integer>41</integer>
		<key>hy0</key>
		<integer>20</integer>
		<key>hx1</key>
		<integer>-43</integer>
		<key>hy1</key>
		<integer>23</integer>
		<key>back</key>
		<string></string>
		<key>front</key>
		<string>BoatSkin</string>
		<key>shape</key>
		<string>BoatShape</string>
	</dict>
</dict>
</plist>
