<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EvilTeamLevel6</key>
	<dict>
		<key>class</key>
		<string>WarTeam</string>
		<key>ship</key>
		<string>HispaniolaLevel6</string>
		<key>side</key>
		<string>right</string>
		<key>aimer</key>
		<string>AIAimer</string>
		<key>heroes</key>
		<array>
			<string>Karl</string>
			<string>Margo</string>
			<string>Dandy</string>
			<string>Luk</string>
		</array>
		<key>weapons</key>
		<array>
			<dict>
				<key>name</key>
				<string>AxeWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>SwordWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>RocketWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>BallWeapon</string>
				<key>projectiles</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>BowWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>KnifeWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>EvilTeamLevel5</key>
	<dict>
		<key>class</key>
		<string>WarTeam</string>
		<key>ship</key>
		<string>HispaniolaLevel5</string>
		<key>side</key>
		<string>right</string>
		<key>aimer</key>
		<string> AIAimer</string>
		<key>heroes</key>
		<array>
			<string>Munik</string>
			<string>Denny</string>
			<string>Luk</string>
			<string>Karl</string>
		</array>
		<key>weapons</key>
		<array>
			<dict>
				<key>name</key>
				<string>AxeWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>SwordWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>RocketWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>BallWeapon</string>
				<key>projectiles</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>BowWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>KnifeWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>EvilTeamLevel4</key>
	<dict>
		<key>class</key>
		<string>WarTeam</string>
		<key>ship</key>
		<string>HispaniolaLevel4</string>
		<key>side</key>
		<string>right</string>
		<key>aimer</key>
		<string>AIAimer</string>
		<key>heroes</key>
		<array>
			<string>Luk</string>
			<string>Karl</string>
			<string>Munik</string>
			<string>Dandy</string>
		</array>
		<key>weapons</key>
		<array>
			<dict>
				<key>name</key>
				<string>AxeWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>SwordWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>RocketWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>BallWeapon</string>
				<key>projectiles</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>BowWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>KnifeWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>EvilTeamLevel3</key>
	<dict>
		<key>class</key>
		<string>WarTeam</string>
		<key>ship</key>
		<string>HispaniolaLevel3</string>
		<key>side</key>
		<string>right</string>
		<key>aimer</key>
		<string>AIAimer</string>
		<key>heroes</key>
		<array>
			<string>Luk</string>
			<string>Dandy</string>
			<string>Munik</string>
		</array>
		<key>weapons</key>
		<array>
			<dict>
				<key>name</key>
				<string>SwordWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>RocketWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>BallWeapon</string>
				<key>projectiles</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>BowWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>KnifeWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>EvilTeamLevel2</key>
	<dict>
		<key>class</key>
		<string>WarTeam</string>
		<key>ship</key>
		<string>HispaniolaLevel2</string>
		<key>side</key>
		<string>right</string>
		<key>aimer</key>
		<string>AIAimer</string>
		<key>heroes</key>
		<array>
			<string>Bill</string>
			<string>Solder</string>
			<string>Helper</string>
		</array>
		<key>weapons</key>
		<array>
			<dict>
				<key>name</key>
				<string>RocketWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>BallWeapon</string>
				<key>projectiles</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>BowWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>KnifeWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>EvilTeamLevel1</key>
	<dict>
		<key>class</key>
		<string>WarTeam</string>
		<key>ship</key>
		<string>Hispaniola</string>
		<key>side</key>
		<string>right</string>
		<key>aimer</key>
		<string>AIAimer</string>
		<key>heroes</key>
		<array>
			<string>Helper</string>
			<string>Solder</string>
		</array>
		<key>weapons</key>
		<array>
			<dict>
				<key>name</key>
				<string>BallWeapon</string>
				<key>projectiles</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>BowWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>RocketWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>EnrikeoTeam</key>
	<dict>
		<key>class</key>
		<string>WarTeam</string>
		<key>ship</key>
		<string>Boat</string>
		<key>side</key>
		<string>left</string>
		<key>aimer</key>
		<string>ManualAimer</string>
		<key>credits</key>
		<integer>0</integer>
		<key>heroes</key>
		<array>
			<string>Enrikeo</string>
			<string>Natalia</string>
		</array>
		<key>weapons</key>
		<array>
			<dict>
				<key>name</key>
				<string>BowWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>BallWeapon</string>
				<key>projectiles</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>RocketWeapon</string>
				<key>projectiles</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>ServerTeam1</key>
	<dict>
		<key>class</key>
		<string>WarTeam</string>
		<key>ship</key>
		<string>Hispaniola</string>
		<key>side</key>
		<string>left</string>
		<key>aimer</key>
		<string>NetworkMasterAimer</string>
		<key>heroes</key>
		<array>
			<dict>
				<key>name</key>
				<string>Helper</string>
				<key>default weapon</key>
				<string>BallWeapon</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Solder</string>
				<key>default weapon</key>
				<string>BallWeapon</string>
			</dict>
		</array>
		<key>weapons</key>
		<array>
			<dict>
				<key>name</key>
				<string>BallWeapon</string>
				<key>projectiles</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>RocketWeapon</string>
				<key>projectiles</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<key>ServerTeam2</key>
	<dict>
		<key>class</key>
		<string>WarTeam</string>
		<key>ship</key>
		<string>Hispaniola</string>
		<key>side</key>
		<string>right</string>
		<key>aimer</key>
		<string>NetworkSlaveAimer</string>
		<key>heroes</key>
		<array>
			<dict>
				<key>name</key>
				<string>Helper</string>
				<key>default weapon</key>
				<string>BallWeapon</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Solder</string>
				<key>default weapon</key>
				<string>BallWeapon</string>
			</dict>
		</array>
		<key>weapons</key>
		<array>
			<dict>
				<key>name</key>
				<string>BallWeapon</string>
				<key>projectiles</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>RocketWeapon</string>
				<key>projectiles</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<key>ClientTeam1</key>
	<dict>
		<key>class</key>
		<string>WarTeam</string>
		<key>ship</key>
		<string>Hispaniola</string>
		<key>side</key>
		<string>left</string>
		<key>aimer</key>
		<string>NetworkSlaveAimer</string>
		<key>heroes</key>
		<array>
			<dict>
				<key>name</key>
				<string>Helper</string>
				<key>default weapon</key>
				<string>BallWeapon</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Solder</string>
				<key>default weapon</key>
				<string>BallWeapon</string>
			</dict>
		</array>
		<key>weapons</key>
		<array>
			<dict>
				<key>name</key>
				<string>BallWeapon</string>
				<key>projectiles</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>RocketWeapon</string>
				<key>projectiles</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<key>ClientTeam2</key>
	<dict>
		<key>class</key>
		<string>WarTeam</string>
		<key>ship</key>
		<string>Hispaniola</string>
		<key>side</key>
		<string>right</string>
		<key>aimer</key>
		<string>NetworkMasterAimer</string>
		<key>heroes</key>
		<array>
			<dict>
				<key>name</key>
				<string>Helper</string>
				<key>default weapon</key>
				<string>BallWeapon</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Solder</string>
				<key>default weapon</key>
				<string>BallWeapon</string>
			</dict>
		</array>
		<key>weapons</key>
		<array>
			<dict>
				<key>name</key>
				<string>BallWeapon</string>
				<key>projectiles</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>RocketWeapon</string>
				<key>projectiles</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
