<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpearWeapon</key>
	<dict>
		<key>class</key>
		<string>WarWeapon</string>
		<key>projectile</key>
		<string>SpearProjectile</string>
		<key>fpx</key>
		<integer>180</integer>
		<key>fpy</key>
		<integer>0</integer>
	</dict>
	<key>AxeWeapon</key>
	<dict>
		<key>class</key>
		<string>WarWeapon</string>
		<key>projectile</key>
		<string>AxeProjectile</string>
		<key>fpx</key>
		<integer>180</integer>
		<key>fpy</key>
		<integer>0</integer>
	</dict>
	<key>BowWeaponNatalia</key>
	<dict>
		<key>class</key>
		<string>BowWeaponNatalia</string>
		<key>projectile</key>
		<string>ArrowProjectileNatalia</string>
		<key>fpx</key>
		<integer>180</integer>
		<key>fpy</key>
		<integer>0</integer>
	</dict>
	<key>SwordWeapon</key>
	<dict>
		<key>class</key>
		<string>WarWeapon</string>
		<key>projectile</key>
		<string>SwordProjectile</string>
		<key>fpx</key>
		<integer>180</integer>
		<key>fpy</key>
		<integer>0</integer>
	</dict>
	<key>KnifeWeapon</key>
	<dict>
		<key>class</key>
		<string>WarWeapon</string>
		<key>projectile</key>
		<string>KnifeProjectile</string>
		<key>fpx</key>
		<integer>180</integer>
		<key>fpy</key>
		<integer>0</integer>
	</dict>
	<key>BowWeapon</key>
	<dict>
		<key>class</key>
		<string>BowWeapon</string>
		<key>projectile</key>
		<string>ArrowProjectile</string>
		<key>fpx</key>
		<integer>180</integer>
		<key>fpy</key>
		<integer>0</integer>
	</dict>
	<key>BallWeapon</key>
	<dict>
		<key>class</key>
		<string>BallWeapon</string>
		<key>projectile</key>
		<string>StoneProjectile</string>
		<key>fpx</key>
		<integer>180</integer>
		<key>fpy</key>
		<integer>0</integer>
	</dict>
	<key>RocketWeapon</key>
	<dict>
		<key>class</key>
		<string>RocketWeapon</string>
		<key>projectile</key>
		<string>RocketProjectile</string>
		<key>fpx</key>
		<integer>180</integer>
		<key>fpy</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
